.wrapper {
  /* width: 100%;
  height: 100%; */
  width: 200px;
  height: 350px;
  /* max-width: 200px; */
  /* margin: 0 0 40px 0 !important; */
  /* padding: 0 0 50px 0 !important; */
}

.c {
  position: absolute;
  /* width: 200px;
  height: 200px; */
  /* width: 100%;
  height: 100%; */
  cursor: pointer;
  will-change: transform, opacity;
}

.front,
.back {
  background-size: cover;
}

.back {
  /* background-color: rgb(255, 255, 255); */
  color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* padding-left: 30%; */
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  text-align: center;
  width: 200px;
  height: 300px;
  background-color: #f8ff94;
  padding: 2px;
}

.custom-shadow {
  -webkit-box-shadow: 3px 3px 5px 6px #ccc; /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 3px 3px 5px 6px #ccc; /* Firefox 3.5 - 3.6 */
  box-shadow: 3px 3px 5px 6px #ccc; /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}
